{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}

{% block body %}
	<div class="page-header">
	<h2> Admin Panel</h2>
	</div>
{%if  voyage!=null %}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong>Voyage de {{voyage.depart}} vers {{voyage.destination}} le {{voyage.date.format('Y-m-d')}}</strong></div>

  <!-- Table -->
  <table class="table">
	<tr style="font-weight:bold;">
	<td>#Nom</td>
	 <td>#Prenom</td>
	 <td>#Age </td>
	 <td>#email</td>
	 	 <td>#numéro mobile</td>
	 <td>#réglement</td>
</tr>	 

	 {% for billet in billets%}
		 {% set voyageur=billet.getVoyageur() %}
		 <tr>
			<td>{{voyageur.nom}}</td>
			 <td>{{voyageur.prenom}}</td>
			 <td>{{voyageur.age}}</td>
			 <td>{{voyageur.email}}</td>
			<td>{{voyageur.numeroTel}}</td>
			 <td> 
				<div class="btn-group">

				{%if(billet.getPaye()) %}
						<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false">
										{{billet.getPrix()}}€  Payé
				{%else%}
						<button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false">	
										{{billet.getPrix()}}€  Impayé
				{%endif%}
						

					
				<span class="caret"></span>
			
			  </button>
			  <ul class="dropdown-menu">
				<li><a href="{{path(app.request.attributes.get('_route'),{'id':voyage.id,
				'idToUpdate':billet.id})}}">Marquer comme payé</a></li>
				<li><a href="#">Voir voyageur</a></li>
				<li><a href="#">Imprimer facture</a></li>
				 <li role="separator" class="divider"></li>
				<li><a href="{{path(app.request.attributes.get('_route'),{'id':voyage.id,
				'idToDel':billet.id})}}">Supprimer voyageur</a></li>
	</ul>
		</div>
				

			 </em>
			 </td>
		 </tr>
	 {% endfor%}
	
 



</table>
</div>
{% else %}
<p> désolé il n'y a pas de résultat..</p>
{%endif%}
	
	
	
{%endblock%}