{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}
	{% block title %}
    <title>Comment ça marche?</title>
	
	{%endblock%}
	
{% block body%}
     <hr class="featurette-divider">
<div style="text-align:center">
<img src="{{asset('bundles/train/bootstrap/pics/doodle_cmc.png')}}" alt="image indisponible" />

</div>
{% endblock %}

