{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}
	{% block title %}
    <title>Page d'accueil</title>
	
	{%endblock%}
	
{% block body%}
      <div class="jumbotron " style="background:#337ab7;color:white">
        <h1>Des trains à bas prix, tous les jours!</h1>
        <p class="lead"> Trouvez votre destination et réservez dès maintenant une place à tarif réduit.</p>

		
		<form class="navbar-form navbar-left" role="search" method="GET" action="{{ path('train_core_search')}}">
  <div class="form-group" >
     <input type="text" id="depart" name="depart" class="form-control" placeholder="Depart" >
    <input type="text" id="destination" name="destination" class="form-control" placeholder="Arrivée" >

  <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
    </div>
</form>

      </div>
     <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading"> Plus rapide et moins cher qu'un covoiturage!  <span class="text-muted"> Vous attendez quoi?</span></h2>
          <p class="lead">La SNCF propose des tarifs réduits pour les personnes voyageant en groupe. Grâce à Batch,
		  profitez de réductions exceptionnelles en quelques clics!</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ asset('bundles/train/bootstrap/pics/card-money.jpg') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading"> Détendez-vous.<span class="text-muted"> On s'occupe de tout.</span></h2>
          <p class="lead">Batch s'occupe de former des groupes
		  avec les gens de votre campus qui vont vers la même destination. Inscrivez-vous simplement sur le site, et on vous
		  recontacte pour profiter de la réduction. Elle est pas belle la vie?</p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <img class="featurette-image img-responsive center-block" src="{{ asset('bundles/train/bootstrap/pics/card-lazy.jpg') }}" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Voyagez loin, moins cher. Des facilités possibles pour les BDE.
		  <span class="text-muted">Contactez-nous ;)</span></h2>
          <p class="lead"> Avec Batch, organisez facilement un voyage au top! On s'occupe du placement des voyageurs, des réductions
		  et vous, vous vous concentrez sur votre voyage.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="{{ asset('bundles/train/bootstrap/pics/card-vacation.png') }}" alt="Generic placeholder image">
        </div>
      </div>


		
		{% endblock %}

