{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}

{% block body%}
	

	<h3 class="page-header"> Voyage de {{voyage.depart}} à {{voyage.destination}} le {{voyage.date.format('d-m-Y')}} . Voyageurs: {{voyage.nbBillets()}} </h3>
	

	
	<h2> <span class="glyphicon glyphicon-pencil"></span> Inscription </h2>

	<div class="well">
				<div class="row featurette">	
		<div class="col-md-5">		
		{{ form_start(form) }}
    {{ form_errors(form) }}
		

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">{{form_label(form.nom)}}  </span>
		
					{{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">{{form_label(form.prenom)}}</span>
		
			{{ form_widget(form.prenom, {'attr': {'class': 'form-control md-col-3'}}) }}
		</div>


		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">{{form_label(form.email)}} </span>
		
		{{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
		</div>
		
		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">{{form_label(form.numeroTel)}} </span>
		
		{{ form_widget(form.numeroTel, {'attr': {'class': 'form-control'}}) }}
		</div>

		<div class="input-group">
			<span class="input-group-addon" id="basic-addon1">{{form_label(form.age)}}   </span>
		
		{{ form_widget(form.age, {'attr': {'class': 'form-control'}}) }}
		</div>


		



{{ form_end(form) }}
		</div>
		</div>
		</div>
	
	
{% endblock %}