<h2> Bonjour {{prenom_dest}} </h2>
<p> Vous pouvez payer votre billet <a href="#">ici</a> <br />
Prix du billet: {{billet_prix}} <br />
<strong> Régler la somme exacte, auquel cas votre achat ne sera pas comptabilisé! </strong>


 </p>


</p>

