{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}

{% block body%}
<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading"><strong><h3>Trajet {{depart|upper}} -> {{destination|upper}}</h2> </strong></div>

  {% if not voyages==null%}
  <!-- Table -->
  <table class="table">


	<tr>
		<td>   <strong>Date départ </strong></td>
		<td>   <strong>Date Arrivée </strong></td>
		<td>   <strong>Places restantes</strong></td>
		<td>   <strong>Prix Adulte</strong></td>
		<td> <strong> Prix Etudiant (12-25 ans) </strong></td>	
		<td>   <strong>Prix Enfant (4-11 ans)</strong></td>
		<td> <strong> Prix Bambin (<4ans) </strong></td>	
		<td> <strong> Disponibilité </strong></td>
		

	</tr>

{% for voyage in voyages%}

 <tr>
 


	 <td>le {{voyage.date.format('d-m-Y')}} à {{voyage.date.format('H:i')}} . </td>
	 <td>le {{voyage.dateArrivee.format('d-m-Y')}} à {{voyage.dateArrivee.format('H:i')}} . </td>
	 <td>nombre: <span class="badge">{{10-voyage.nbBillets()}}</span></td>
	 <td><strong> {{voyage.getPrixAdulte()}} </strong></td>
	 <td><strong> {{voyage.getPrixJeune()}} </strong></td>
	 <td><strong> {{voyage.getPrixEnfant()}} </strong></td>
	 <td><strong> {{voyage.getPrixBambin()}} </strong></td>
	   {% if not (voyage.isComplet())%}
		<td> <a style="text-decoration:none;" href="{{path('train_core_inscription',{'id':voyage.id})}}" >
		<span class="label label-success">réserver</span></a></td>
	 {%else%} 
		<td><span class="label label-danger">complet</span></td>
	 {%endif%}
	

	  

</tr>
{%endfor%}

</ul>
	  </table>
	  
	  {%else%}
	  <h4 class="page-header"> Oops! Nous n'avons rien trouvé! </h2>
	    <form class="navbar-form navbar-left" role="search" method="POST" action="{{ path('train_core_search')}}">
				<input type="hidden" id="proposition" name="proposition" class="form-control" value="1" >
		       <input type="hidden" id="depart" name="depart" class="form-control" value="{{depart}}" >
			   	<input type="hidden" id="destination" name="destination" class="form-control" value="{{destination}}" >
  <button type="submit" class="btn btn-success ">

  <span class="glyphicon glyphicon-plus " aria-hidden="true"></span> proposer
  </button>
</form>   

	  <p>
	  Vous ne trouvez pas votre destination?
	  S'il ne s'agit pas d'une faute de frappe 
	  cliquez-ici pour nous la suggérer et si d'autres utilisateurs font comme vous nous l'ajouterons très
	  certainement!

	  </p>
	




	  {% endif %}
</div>
	
{% endblock %}