{% extends 'TrainCoreBundle:Default:main-layout.html.twig' %}
	{% block title %}
    <title>Conditions d'utilisation</title>
	
	
{%endblock%}
	
{% block body%}
<h2 class="page-header"> Conditions d'utilisation et  Politique de Confidentialité </h2>

	<div class="well">
	<h3>1. Présentation du site.</h3>
<p>En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi :</p>
<p><strong>Propriétaire</strong> : AIT SI ALI Slimane – 2 Allée Jean Baptiste Fourier<br />
<strong>Créateur</strong> : <a href="www.sidali.fr">AIT SI ALI Slimane</a> et Théo Genty<br />
<strong>Responsable publication</strong> : AIT SI ALI Slimane – 0662875602<br />
Le responsable publication est une personne physique ou une personne morale.<br />
<strong>Webmaster</strong> : AIT SI ALI Slimane – 0662875602<br />
<strong>Hébergeur</strong> : 1and1.com<br />
Crédits : les mentions légales ont été générées et offertes par Subdelirium SubDelirium</p>

	<h3>2. Conditions générales d’utilisation du site et des services proposés.</h3>
<p>L’utilisation du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> implique l’acceptation pleine et entière des conditions générales d’utilisation ci-après décrites. Ces conditions d’utilisation sont susceptibles d’être modifiées ou complétées à tout moment, les utilisateurs du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> sont donc invités à les consulter de manière régulière.</p>
<p>Ce site est normalement accessible à tout moment aux utilisateurs. Une interruption pour raison de maintenance technique peut être toutefois décidée par AIT SI ALI Slimane, qui s’efforcera alors de communiquer préalablement aux utilisateurs les dates et heures de l’intervention.</p>
<p>Le site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> est mis à jour régulièrement par AIT SI ALI Slimane. De la même façon, les mentions légales peuvent être modifiées à tout moment : elles s’imposent néanmoins à l’utilisateur qui est invité à s’y référer le plus souvent possible afin d’en prendre connaissance.</p>
<h3>3. Description des services fournis.</h3>


<p> Le <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> permet aux élèves de la Chantrerie de réserver des billets de train SNCF pour bénéficier de tarifs de groupes.
<br />
Son utilisation est strictement réservée à ces mêmes élèves et nous nous réservons tout droit de priver quelqu'un du services
s'il n'en a pas l'autorisation. <br />
Les transactions se font par coordonnées bancaires (Maestro,MasterCard ou VISA), en ligne, ou bien par paiement en espèce à la Maison des Eleves de 
l'école des Mines de Nantes.
</p>



<h3>4. Limitations contractuelles sur les données techniques.</h3>
<p>Le site utilise les technologies JavaScript,BootStrap et Symfony.</p>
<p>Le site Internet ne pourra être tenu responsable de dommages matériels liés à l’utilisation du site. De plus, l’utilisateur du site s’engage à accéder au site en utilisant un matériel récent, ne contenant pas de virus et avec un navigateur de dernière génération mis-à-jour</p>
<h3>5. Propriété intellectuelle et contrefaçons.</h3>
<p>AIT SI ALI Slimane est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels.</p>
<p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable de : AIT SI ALI Slimane.</p>
<p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>
<h3>6. Limitations de responsabilité.</h3>
<p>AIT SI ALI Slimane ne pourra être tenue responsable des dommages directs et indirects causés au matériel de l’utilisateur, lors de l’accès au site http://www.sidali.fr/Batch, et résultant soit de l’utilisation d’un matériel ne répondant pas aux spécifications indiquées au point 4, soit de l’apparition d’un bug ou d’une incompatibilité.</p>
<p>AIT SI ALI Slimane ne pourra également être tenue responsable des dommages indirects (tels par exemple qu’une perte de marché ou perte d’une chance) consécutifs à l’utilisation du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a>.</p>
<h3 id="privacy">7. Gestion des données personnelles.</h3>
<p>En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.</p>
<p>A l'occasion de l'utilisation du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a>, peuvent êtres recueillies : l'URL des liens par l'intermédiaire desquels l'utilisateur a accédé au site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a>, le fournisseur d'accès de l'utilisateur, l'adresse de protocole Internet (IP) de l'utilisateur.</p>
<p> En tout état de cause AIT SI ALI Slimane ne collecte des informations personnelles relatives à l'utilisateur que pour le besoin de certains services proposés par le site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a>. L'utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu'il procède par lui-même à leur saisie. Il est alors précisé à l'utilisateur du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> l’obligation ou non de fournir ces informations.</p>
<p>Conformément aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles le concernant, en effectuant sa demande écrite et signée, accompagnée d’une copie du titre d’identité avec signature du titulaire de la pièce, en précisant l’adresse à laquelle la réponse doit être envoyée.</p>
<p>Aucune information personnelle de l'utilisateur du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> n'est publiée à l'insu de l'utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l'hypothèse du rachat de AIT SI ALI Slimane et de ses droits permettrait la transmission des dites informations à l'éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis à vis de l'utilisateur du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a>.</p>
<p>Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>

<h3>8. Droit applicable et attribution de juridiction.</h3>
<p>Tout litige en relation avec l’utilisation du site <a href="http://http://www.sidali.fr/Batch/" title="AIT SI ALI Slimane - http://www.sidali.fr/Batch">http://www.sidali.fr/Batch</a> est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris.</p>
<h3>9. Les principales lois concernées.</h3>
<p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
<p> Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>
<h3>10. Lexique.</h3>
<p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>
<p>Informations personnelles : « les informations qui permettent, sous quelque forme que ce soit, directement ou non, l'identification des personnes physiques auxquelles elles s'appliquent » (article 4 de la loi n° 78-17 du 6 janvier 1978).</p>
</div>

{% endblock %}

