{%extends 'BDEShowcaseBundle::main-layout.html.twig'%}
	{%block body%}
<article>	
<h1> Contacts </h1>
<h2> Nous contacter  </h2>
<p>
 Si vous souhaitez en savoir plus n'hésitez pas à contacter le BDE.

Pour toute question concernant les hébergements, le responsable de la Maison des élèves saura probablement mieux répondre que nous, vous trouverez ses coordonnées page logements.
Vous pouvez également contacter directement les différentes associations, clubs ou projets par leur adresse email dédiée.
 
 
<br />
e-mail : bde@mines-nantes.fr<br />

Téléphone : 02 40 18 02 57<br />

Fax : 02 40 18 02 57<br />

Courrier :
Cercle des Elèves de l'Ecole des Mines de Nantes
6 avenue Augustin-Louis CAUCHY
44 300 Nantes 

</p>

<h2> Nous suivre </h2>
<p> Pour être au courant des événements il est très utile d'être dans le groupe facebook du BDE! En voici le lien: 

</article>
	
	
	{%endblock%}