	{%extends "BDEShowcaseBundle::main-layout.html.twig"%}
	
	
	{%block body%}





<article>	
	<h1> Bienvenue     sur    le    site    du    Bde    des    Mines    de    Nantes! mode: {{ app.environment}} </h1>
	

	
	
	<h2> Events     a     venir - <em><a href=""> cliquez    ici    pour    acheter    des    places </a></em> </h2>
	
	<div id="events"/>
	<iframe id="events" src="https://www.google.com/calendar/embed?src=ot8blqjia2n8kuva310vpredbs%40group.calendar.google.com&ctz=Europe/Paris" 
	style="border: 0"  height="300" frameborder="0" scrolling="yes"></iframe>
	</div>
	
	
	
	<h2> <div class="titre">Nouvel      Entrant,      ou      juste      curieux ?</div></h2>
	
	<p>Passe faire un tour dans la rubrique Vie du Campus, tu y trouveras plein d'informations utiles. Pense aussi à consulter la Vie Associative : véritable ruche, l'école regorge d'activités très diverses pour que tu t'investisses à fond dans ta passion.

Futur Mineur toutes tes questions trouveront leur réponse sur notre Page Facebook Intégration 2014.</p>
	
	<h2>Etudiant      aux      Mines ?</h2>
	<p>
	Consulte fréquemment le planning des animations et les disponibilités de salles de réunion et de travail. Tu trouveras également dans la boutique, tous les produits aux couleurs des Mines. 	BDE 2013
AMI MINEUR, LANCE TOI :
Que ce soit pour une soirée farfelue, pour la création d'une association ou la mise au point d'un événement inter-écoles, ton BDE est là pour toi. Propose ton projet et le Bureau des Elèves te donnera les moyens de mener à bout tes ambitions et de faire bouger ton école. 
<br /><strong>Contacte nous</strong> : <a href="mailto:bde@mines-nantes.fr">bde@mines-nantes.fr</a> <br />
 
Pour en savoir plus sur la formation et les opportunités que t'offre l'Ecole des Mines, consulte le <a href="http://www.mines-nantes.fr/">site officiel</a>.
</p>
</article>

{%endblock%}
